# Ramdisk file for profile based kernel management
# Implimentation inspired by Franco's fku profiles

on property:sys.boot_completed=1
        exec u:r:su:s0 root root -- /init.special_power.sh
   
        # according to Qcom this legacy value improves first launch latencies
        # stock value is 512k
        # from franciscofranco
        setprop dalvik.vm.heapminfree 2m
   
        #deep sleep
        setprop pm.sleep_mode 1


        # Add kernel name
        setprop persist.spectrum.kernel ☀️ⒶⓩⓤⓡⒺ☀️ 

	#Disable FSync
        write /sys/module/sync/parameters/fsync_enabled N
	
	#Double Tap to Wake
	write /sys/kernel/touchpanel/dclicknode 1

	#Tweaks
	setprop pm.sleep_mode 1
	setprop ro.ril.disable.power.collapse 1
	setprop wifi.supplicant_scan_interval 180
	setprop ro.config.hw_fast_dormancy 1
	setprop ro.config.hw_power_saving true
